@font-face {
    font-family: "Gotham";
    src:
        local("Gotham Bold"),
        local("Gotham-Bold"),
        url("fonts/Gotham-Bold.woff2") format("woff2"),
        url("fonts/Gotham-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src:
        local("Gotham Book"),
        local("Gotham-Book"),
        url("fonts/Gotham-Book.woff2") format("woff2"),
        url("fonts/Gotham-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src:
        local("Myriad Pro Bold"),
        local("MyriadPro-Bold"),
        url("fonts/MyriadPro-Bold.woff2") format("woff2"),
        url("fonts/MyriadPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src:
        local("Myriad Pro Regular"),
        local("MyriadPro-Regular"),
        url("fonts/MyriadPro-Regular.woff2") format("woff2"),
        url("fonts/MyriadPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src:
        local("Myriad Pro Semibold Italic"),
        local("MyriadPro-SemiboldIt"),
        url("fonts/MyriadPro-SemiboldIt.woff2") format("woff2"),
        url("fonts/MyriadPro-SemiboldIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
